
body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  min-height: 100vh;
  font-family: system-ui, sans-serif;
  background-color: #b6ae97;
}

#hamburger-menu {
    width: 30px;
    height: 30px;
    display: block;
    border: none;
    padding: 0px;
    margin: 20px;
    font-family: 'Cabin', Sans-serif;
    background: linear-gradient(
      to bottom, 
      #000, #000 20%, 
      #b6ae97 20%, #b6ae97 40%, 
      #000 40%, #000 60%, 
      #b6ae97 60%, #b6ae97 80%, 
      #000 80%, #000 100%
    );
}

#hamburger-menu #sidebar-menu {
    visibilty: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #4b6562;
    transition: 0.3s;
    padding: 0px 5px;
    box-sizing: border-box;
}

#hamburger-menu h3 {
  color: #fff;
  font-size: 2.2rem;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  color: #fff;
  font-size: 1.3rem;
  text-decoration: none;
}

#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-menu:focus #sidebar-menu,
#hamburger-menu:focus-within #sidebar-menu  {
    visibility: visible;
    left: 0;
}

#content{
	position: center;
	top:40px; 
	 align-items: center;
}


.image-response {
  width: 100%;
  max-width: 800px;
  height: auto;
}

dev.content-response {
  padding: 0px;
}

@media screen and (min-width: 601px) {
  div.content-response {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  div.content-response {
    font-size: 12px;
  }
//cwcoleman
