body {
 padding: 0px;
 margin: 0px;
 font-size: 20px;
 min-height: 200vh;
 font-family: system-ui, sans-serif;
 background-color: #b6ae97;
}
a{
color:  #203731 ;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}


.orange{
font-family: system-ui, sans-serif;
font-size: 20px;
background-color: #dc9656;
color: #e8e8e8;
 padding:  0px 10px 10px 10px;
}

.green{
font-family: system-ui, sans-serif;
font-size: 20px;
background-color: #538947;
color: #e8e8e8;
 padding:  0px 10px 10px 10px;
}

.red{
font-family: system-ui, sans-serif;
font-size: 20px;
color: #e8e8e8;
 padding:  0px 10px 10px 10px;
}

.blue{
font-family: system-ui, sans-serif;
font-size: 20px;

color: #e8e8e8;
padding:  0px 10px 10px 10px;
}

.violet{
font-family: system-ui, sans-serif;
font-size: 20px;
background-color: #96609e;
color: #e8e8e8;
padding:  0px 10px 10px 10px;
}



#main-menu {
  display: block;
  height: 100px;
  width: 100%;
  background: #203731;
  margin: 0px;  
  z-index: 9;
}

#main-menu ul {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
}

#main-menu li {
  list-style-type: none;
  font-size: 1rem;
}

#main-menu a {
  color: #b6ae97;
  font-size: 1rem;
  text-decoration: none;
}

#main-menu a:hover {
  text-decoration: underline;
}

#hamburger-input{
  display: none;
}

#hamburger-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
	font-family: system-ui, sans-serif;
    background: linear-gradient(
      to bottom, 
      #203731, #203731 20%, 
      #b6ae97 20%, #b6ae97 40%, 
      #203731 40%, #203731 60%, 
      #b6ae97 60%, #b6ae97 80%, 
      #203731 80%, #203731 100%
    );
}

#hamburger-menu #sidebar-menu {
    visibilty: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #203731;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}

#hamburger-menu h3 {
  color: #b6ae97;
  font-size: 1rem;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 2rem;
}

#hamburger-menu a {
  color: #b6ae97;
  font-size: 1rem;
  text-decoration: none;
}

#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}
#hamburger-input:checked ~ .overlay{
   visibility: visible;
  opacity: 0.4;
}

#content{
	 position: absolute;
	 color: #203731;
	top:100px;
	left:220px; 
}

.responsive-image {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 100%; /* 1:1 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 10px;
  left: 220px;
  width: 100%;
  height: 100%;
  border: none;
}


@media screen and (max-width: 1980px) {
  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: inline;
  }
}

//GB green #203731   GB yellow #ffb612   55b7b3    #4b6562 background #b6ae97
