<link rel="stylesheet" type="text/css" href="css/icebowl.css">
<div class = "blue">
<pre>
<img src = "img/icebowl.jpg"  class="responsive-image" width = "400px">
	<br />
	"The measure of who we are is what we do with what we have."<br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vince Lombardi 
</pre>
</div>
