<head><title>icebowl.io/python</title>

<link rel="stylesheet" type="text/css" href="../css/icebowl.css">
<style>
#content{
	position: absolute;
	top: 0px;
	left: 13px;

}
</style>
</head>
<link rel="stylesheet" type="text/css" href="css/icebowl.css">
<div id = "content">
<h1>
<span style="color:#ff0000">Youtube : <a href ="https://youtu.be/Jp9Cv-T86y4">Turtle:hw.py</a>
</h1>
<pre>
<textarea id="hw" name="hw" rows="10" cols="50">
#!/usr/bin/env python3
# turtle hw.py
import turtle
print("hello world = hw")
t = turtle.Turtle()
s = turtle.Screen()
t.showturtle()
t.pendown()# t.pd()
t.pencolor("red")
t.lt(90)
t.fd(60)
t.bk(30)
t.rt(90)
t.fd(30)
t.lt(90)
t.fd(30)
t.bk(60)
t.pu()
t.rt(90)
t.fd(30)
t.lt(90)
t.fd(60)
t.lt(30)
t.pencolor("blue")
t.pd()
t.bk(70)
t.rt(60)
t.fd(40)
t.rt(120)
t.fd(40)
t.lt(120)
t.fd(70)
t.ht()#hide turtle
s.exitonclick()	

</textarea>
Challenge: Make a different letter.
<iframe src="https://trinket.io/embed/python/0a709c3a45" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
</pre>
</div>
</body>
</html>

