<link rel="stylesheet" type="text/css" href="css/icebowl.css">
<div class = "blue">
<h3>
<pre>
	<a href = "lessons.html">Challenges</a> / Lessons
	<hr/ >
Python trinket.io environment:
<a href = "https://trinket.io/turtle" target = "_blank" >open trinket.io/turtle</a>
Embeded Python at trinket.io:
<iframe src="https://trinket.io/embed/python/9bfe6f8d56" width="100%" height="610" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>

Youtube:
<a href = "https://www.youtube.com/@icebowl/playlistse" target = "_blank" >youtube.com/@icebowl/playlists </a>
Code on gitlab.com
<a href = "https://gitlab.com/icebowl/youtube/-/tree/main/turtle" target = "_blank" >gitlab.com/icebowl/youtube/... /turtle </a>


</pre>
</div>
</h3>
