<head><title>icebowl.io/python</title>

<link rel="stylesheet" type="text/css" href="../css/icebowl.css">
<style>
#content{
	position: absolute;
	top: 0px;
	left: 13px;

}
</style>
</head>
<link rel="stylesheet" type="text/css" href="css/icebowl.css">
<div id = "content">
<h1>
<span style="color:#ff0000">Youtube : <a href ="https://youtu.be/96sqxQnRSGQ">helloworld.py</a>
</h1>
<pre>
<textarea id="hw" name="hw" rows="10" cols="50">
# helloworld.py
print("hello world")
print(" CCCC ")
print("C     ")
print("C     ")
print("C     ")
print(" CCCC ")
</textarea>
Challenge: Code your initials.
<iframe src="https://trinket.io/embed/python/9bfe6f8d56" width="100%" height="300" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>

</pre>
</div>
</body>
</html>

