<head><title>icebowl.io/python</title>

<link rel="stylesheet" type="text/css" href="../css/icebowl.css">
<style>
#content{
	position: absolute;
	top: 0px;
	left: 13px;

}
</style>
</head>
<link rel="stylesheet" type="text/css" href="css/icebowl.css">
<div id = "content">
	<h1>
<span style="color:#ff0000">Youtube : <a href ="https://youtu.be/OiNb5Ol0vaM">spiral.py</a>
</h1>
	
<pre>
<textarea id="hw" name="hw" rows="10" cols="50">
# spiral.py
import turtle
t = turtle.Turtle()
s = turtle.Screen()
t.hideturtle()
t.pendown()
t.seth(0) #setheading 0 to 360 degrees +
t.forward(40)
t.backward(40)
t.seth(45)
t.forward(40)
t.backward(40)
t.seth(90)
t.forward(40)
t.backward(40)
t.seth(135)
t.forward(40)
t.backward(40)
t.seth(180)
t.forward(40)
t.backward(40)
t.seth(225)
t.forward(40)
t.backward(40)
t.seth(270)
t.forward(40)
t.backward(40)
t.seth(315)
t.forward(40)
t.backward(40)
t.pencolor("red")
t.width(5)
t.seth(360)
t.forward(40)
t.backward(40)
s.exitonclick()	
</textarea>
Challenge: Add more spokes. Change the length.  Change the colors.

<iframe src="https://trinket.io/embed/python/6365951847" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>


</pre>
</div>
</body>
</html>

