<link rel="stylesheet" type="text/css" href="css/icebowl.css">
<div class = "blue">
<h1>
<pre>

<a href = "https://support.apple.com/en-us/HT201088">Set up Family Sharing</a>

<a href = "https://support.apple.com/en-us/HT201060">What is Family Sharing?</a>

<a href = "https://support.apple.com/en-us/HT201079">How to share purchases with your family</a>

<a href = "https://support.apple.com/en-us/HT201304">Use parental controls on your child's iPhone, iPad, and iPod touch</a>

<a href = "https://support.apple.com/en-us/HT201232">Contact Apple for support and service </a>

<a href = "https://support.apple.com/en-us/HT203046">What types of content can I share with my family?</a>

<a href ="https://support.apple.com/en-us/HT201085">How to download apps and content that your family members purchased </a>

<a href ="https://support.apple.com/en-us/HT204316">How to create a new Apple ID</a>

<a href ="https://support.apple.com/en-us/HT201089">Approve what kids buy with Ask to Buy</a>

<a href ="https://support.apple.com/en-us/HT208147">Share iCloud with your family</a>

<a href ="https://support.apple.com/en-us/HT201089">Approve what kids buy with Ask to Buy</a>

<a href ="https://support.apple.com/en-us/HT201084">Create an Apple ID for your child</a>





</pre>
</div>
</h1>
