<br /><span class="num"> # </span> 
<br /><span class="num"> # </span> Genesis 1
<br /><span class="num"> # </span> The Beginning
<br /><span class="num"> 1 </span> 1 In the beginning God created the heavens and the earth.
<br /><span class="num"> 2 </span> 2 Now the earth was formless and empty, darkness was over the surface of the deep, and the Spirit of God was hovering over the waters.
<br /><span class="num"> 3 </span> 3 And God said, “Let there be light,” and there was light.
<br /><span class="num"> 4 </span> 4 God saw that the light was good, and he separated the light from the darkness.
<br /><span class="num"> 5 </span> 5 God called the light “day,” and the darkness he called “night.” And there was evening, and there was morning—the first day.
<br /><span class="num"> 6 </span> 6 And God said, “Let there be a vault between the waters to separate water from water.”
<br /><span class="num"> 7 </span> 7 So God made the vault and separated the water under the vault from the water above it. And it was so.
<br /><span class="num"> 8 </span> 8 God called the vault “sky.” And there was evening, and there was morning—the second day.
<br /><span class="num"> 9 </span> 9 And God said, “Let the water under the sky be gathered to one place, and let dry ground appear.” And it was so.
<br /><span class="num"> # </span> 10 God called the dry ground “land,” and the gathered waters he called “seas.” And God saw that it was good.
<br /><span class="num"> # </span> 11 Then God said, “Let the land produce vegetation: seed-bearing plants and trees on the land that bear fruit with seed in it, according to their various kinds.” And it was so.
<br /><span class="num"> # </span> 12 The land produced vegetation: plants bearing seed according to their kinds and trees bearing fruit with seed in it according to their kinds. And God saw that it was good.
<br /><span class="num"> # </span> 13 And there was evening, and there was morning—the third day.
<br /><span class="num"> # </span> 14 And God said, “Let there be lights in the vault of the sky to separate the day from the night, and let them serve as signs to mark sacred times, and days and years,
<br /><span class="num"> # </span> 15 and let them be lights in the vault of the sky to give light on the earth.” And it was so.
<br /><span class="num"> # </span> 16 God made two great lights—the greater light to govern the day and the lesser light to govern the night. He also made the stars.
<br /><span class="num"> # </span> 17 God set them in the vault of the sky to give light on the earth,
<br /><span class="num"> # </span> 18 to govern the day and the night, and to separate light from darkness. And God saw that it was good.
<br /><span class="num"> # </span> 19 And there was evening, and there was morning—the fourth day.
<br /><span class="num"> # </span> 20 And God said, “Let the water teem with living creatures, and let birds fly above the earth across the vault of the sky.”
<br /><span class="num"> # </span> 21 So God created the great creatures of the sea and every living thing with which the water teems and that moves about in it, according to their kinds, and every winged bird according to its kind. And God saw that it was good.
<br /><span class="num"> # </span> 22 God blessed them and said, “Be fruitful and increase in number and fill the water in the seas, and let the birds increase on the earth.”
<br /><span class="num"> # </span> 23 And there was evening, and there was morning—the fifth day.
<br /><span class="num"> # </span> 24 And God said, “Let the land produce living creatures according to their kinds: the livestock, the creatures that move along the ground, and the wild animals, each according to its kind.” And it was so.
<br /><span class="num"> # </span> 25 God made the wild animals according to their kinds, the livestock according to their kinds, and all the creatures that move along the ground according to their kinds. And God saw that it was good.
<br /><span class="num"> # </span> 26 Then God said, “Let us make mankind in our image, in our likeness, so that they may rule over the fish in the sea and the birds in the sky, over the livestock and all the wild animals, and over all the creatures that move along the ground.”
<br /><span class="num"> # </span> 27 So God created mankind in his own image, in the image of God he created them; male and female he created them.
<br /><span class="num"> # </span> 28 God blessed them and said to them, “Be fruitful and increase in number; fill the earth and subdue it. Rule over the fish in the sea and the birds in the sky and over every living creature that moves on the ground.”
<br /><span class="num"> # </span> 29 Then God said, “I give you every seed-bearing plant on the face of the whole earth and every tree that has fruit with seed in it. They will be yours for food.
<br /><span class="num"> # </span> 30 And to all the beasts of the earth and all the birds in the sky and all the creatures that move along the ground—everything that has the breath of life in it—I give every green plant for food.” And it was so.
<br /><span class="num"> # </span> 31 God saw all that he had made, and it was very good. And there was evening, and there was morning—the sixth day.
<br /><span class="num"> # </span> 
<br /><span class="num"> # </span> 
<br /><span class="num"> # </span> Genesis 2
<br /><span class="num"> # </span> 1 Thus the heavens and the earth were completed in all their vast array.
<br /><span class="num"> # </span> 2 By the seventh day God had finished the work he had been doing; so on the seventh day he rested from all his work.
<br /><span class="num"> # </span> 3 Then God blessed the seventh day and made it holy, because on it he rested from all the work of creating that he had done.
<br /><span class="num"> # </span> Adam and Eve
<br /><span class="num"> # </span> 4 This is the account of the heavens and the earth when they were created, when the LORD God made the earth and the heavens.
<br /><span class="num"> # </span> 5 Now no shrub had yet appeared on the earth and no plant had yet sprung up, for the LORD God had not sent rain on the earth and there was no one to work the ground,
<br /><span class="num"> # </span> 6 but streams came up from the earth and watered the whole surface of the ground.
<br /><span class="num"> # </span> 7 Then the LORD God formed a man from the dust of the ground and breathed into his nostrils the breath of life, and the man became a living being.
<br /><span class="num"> # </span> 8 Now the LORD God had planted a garden in the east, in Eden; and there he put the man he had formed.
<br /><span class="num"> # </span> 9 The LORD God made all kinds of trees grow out of the ground—trees that were pleasing to the eye and good for food. In the middle of the garden were the tree of life and the tree of the knowledge of good and evil.
<br /><span class="num"> # </span> 10 A river watering the garden flowed from Eden; from there it was separated into four headwaters.
<br /><span class="num"> # </span> 11 The name of the first is the Pishon; it winds through the entire land of Havilah, where there is gold.
<br /><span class="num"> # </span> 12 (The gold of that land is good; aromatic resin and onyx are also there.)
<br /><span class="num"> # </span> 13 The name of the second river is the Gihon; it winds through the entire land of Cush.
<br /><span class="num"> # </span> 14 The name of the third river is the Tigris; it runs along the east side of Ashur. And the fourth river is the Euphrates.
<br /><span class="num"> # </span> 15 The LORD God took the man and put him in the Garden of Eden to work it and take care of it.
<br /><span class="num"> # </span> 16 And the LORD God commanded the man, “You are free to eat from any tree in the garden;
<br /><span class="num"> # </span> 17 but you must not eat from the tree of the knowledge of good and evil, for when you eat from it you will certainly die.”
<br /><span class="num"> # </span> 18 The LORD God said, “It is not good for the man to be alone. I will make a helper suitable for him.”
<br /><span class="num"> # </span> 19 Now the LORD God had formed out of the ground all the wild animals and all the birds in the sky. He brought them to the man to see what he would name them; and whatever the man called each living creature, that was its name.
<br /><span class="num"> # </span> 20 So the man gave names to all the livestock, the birds in the sky and all the wild animals. But for Adam no suitable helper was found.
<br /><span class="num"> # </span> 21 So the LORD God caused the man to fall into a deep sleep; and while he was sleeping, he took one of the man’s ribs and then closed up the place with flesh.
<br /><span class="num"> # </span> 22 Then the LORD God made a woman from the rib he had taken out of the man, and he brought her to the man.
<br /><span class="num"> # </span> 23 The man said, “This is now bone of my bones and flesh of my flesh; she shall be called ‘woman,’ for she was taken out of man.”
<br /><span class="num"> # </span> 24 That is why a man leaves his father and mother and is united to his wife, and they become one flesh.
<br /><span class="num"> # </span> 25 Adam and his wife were both naked, and they felt no shame.
